/Nyte2/.vs/
/Nyte2/x64/*/Nyte2.tlog/*
/Nyte2/x64/Debug/Nyte2.tlog/
/Nyte2/x64/Release/Nyte2.tlog/
/Nyte2/Nyte2/
/Nyte2/Resources/Models/*.*
/Nyte2/Resources/Models/Nature_Rock_Cliff_xgnlfc0_8K_3d_ms/Nature_Rock_Cliff_xgnlfc0_3d_Preview.png
/Nyte2/Resources/Models/Nature_Rock_Cliff_xgnlfc0_8K_3d_ms/xgnlfc0.json
/Nyte2/Resources/Models/Nature_Rock_Cliff_xgnlfc0_8K_3d_ms/xgnlfc0_8K_Albedo.jpg
/Nyte2/Resources/Models/Nature_Rock_Cliff_xgnlfc0_8K_3d_ms/xgnlfc0_8K_Cavity.jpg
/Nyte2/Resources/Models/Nature_Rock_Cliff_xgnlfc0_8K_3d_ms/xgnlfc0_8K_Displacement.jpg
/Nyte2/Resources/Models/Nature_Rock_Cliff_xgnlfc0_8K_3d_ms/xgnlfc0_8K_Gloss.jpg
/Nyte2/Resources/Models/Nature_Rock_Cliff_xgnlfc0_8K_3d_ms/xgnlfc0_8K_Normal_LOD0.jpg
/Nyte2/Resources/Models/Nature_Rock_Cliff_xgnlfc0_8K_3d_ms/xgnlfc0_8K_Roughness.jpg
/Nyte2/Resources/Models/Nature_Rock_Cliff_xgnlfc0_8K_3d_ms/xgnlfc0_8K_Specular.jpg
/Nyte2/Resources/Models/Nature_Rock_Cliff_xgnlfc0_8K_3d_ms/xgnlfc0_LOD0.fbx
/Nyte2/Resources/Models/war_hammer_axe/War_Hammer_Axe_uh1pbcufa_Raw.fbx
/Nyte2/Resources/Models/war_hammer_axe/War_Hammer_Axe_uh1pbcufa_Raw.fbx.ib.cache
/Nyte2/Resources/Models/war_hammer_axe/War_Hammer_Axe_uh1pbcufa_Raw.fbx.vb.cache
/Nyte2/Resources/Models/war_hammer_axe/War_Hammer_Axe_uh1pbcufa_Raw_8K_BaseColor.jpg
/Nyte2/Resources/Models/war_hammer_axe/War_Hammer_Axe_uh1pbcufa_Raw_8K_Diffuse.jpg
/Nyte2/Resources/Models/war_hammer_axe/War_Hammer_Axe_uh1pbcufa_Raw_8K_Metalness.jpg
/Nyte2/Resources/Models/war_hammer_axe/War_Hammer_Axe_uh1pbcufa_Raw_8K_Normal.jpg
/Nyte2/Resources/Models/war_hammer_axe/War_Hammer_Axe_uh1pbcufa_Raw_8K_Roughness.jpg
/Nyte2/Resources/Models/war_hammer_axe/War_Hammer_Axe_uh1pbcufa_Raw_8K_Specular.jpg
